@use '../utility/helper' as h;
@use '../variable/color' as c;

.footer{
    background: #151414;
    font-weight: 200;
    color: c.$text-primary;
    @include h.flexbox(column, space-around, center);
    width: 100%;

    .footer__main{
        @include h.flexbox(row, center, flex-start);
        padding: 3em 0em;

    .footer__desc{
        
        @include h.flexbox(column, center, flex-start);
        width: 30%;

        .footer__logo{
            @include h.logo;
            font-weight: 300;
            font-size: 1.5rem;
            margin: 0;
            padding-top: 0.5em;

            .joystick{
                margin: 0em 0em 4em 3.3em;
            }
        }
        
        p{
            width: 70%;
        }

        .group-icons{
            @include h.flexbox(row, space-between, center);
            width: 60%;

            .icon__social{
                font-size: 2rem;
            }
        }

    }

        .footer__inquiries{
            @include h.flexbox(column, center, flex-start);
            width: 20%;
            white-space: nowrap;
            text-align: left;

            .items{
                @include h.flexbox(column, space-between, flex-start);
                font-weight: 200;
                color: rgb(190, 189, 189);

                a{
                    margin: 0.4em 0em;

                    &:hover{
                        color: c.$text-primary;
                    }
                }
            }

        }

        .footer__news{

            @include h.flexbox(column, center, flex-start);
            width: 20%;
            
            h3{
                margin-bottom: 0.5em;
            }

            p{
                width: 70%;
            }

            #email{
                height: 2rem;
                padding: 0.7rem;
                border-radius: 3px;
                border-width: 1px;
                border-style: solid;
                border-color:#b7cad6;
                background-color:#ffffff;
                width: 80%;
            }
        }
    
    }

    #copyright{
        @include h.flexbox(row, center, center);
        
    }

}

@media screen and (max-width: 1000px){
    .footer{
            .footer__main{
                @include h.flexbox(column, flex-start, center); 
                width: 80%;
                padding-left: 4em;

                .footer__desc{
                    width: 100%;
                }

                .footer__inquiries{
                    width: 100%;
                }

                .footer__news{
                    width: 100%;
                    #email{
                    }
                }
            }

    }

}//media query


@media screen and (max-width: 700px){
    .footer{
            .footer__main{
                @include h.flexbox(column, flex-start, center); 
                width: 100%;
                padding-left: 0;

                .footer__desc{
                    width: 100%;
                    @include h.flexbox(column, flex-start, center); 
                }

                .footer__inquiries{
                    width: 100%;
                    @include h.flexbox(column, flex-start, center); 
                }

                .footer__news{
                    width: 100%;
                    @include h.flexbox(column, flex-start, center); 
                    #email{
                    }
                }
            }

    }

}//media query