@use '../abstracts/helpers' as h;

.hero{

    height: 100vh;
    width: 100vw;
    //direction, x, y
    @include h.flexbox(column, space-around, center);

    video{
        object-fit: cover;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        top: 0;
    }

        .hero__intro{
            color: #fff;
            height: 100%;
            width: 100%;
            @include h.flexbox(column, center, center);
            padding-bottom: 10em;
            
            .hero__title{
                font-size: 5.2rem;
                text-transform: uppercase;
                font-family: 'Josefin Sans', Arial, sans-serif;
                font-weight: normal;
                letter-spacing: 1rem;
                text-shadow: 2px 2px 30px #000;

                &:hover{
                    cursor: default;
                }
            }
    
            .hero__desc{
                font-size: 2.3rem;
                font-weight: 200;
    
                &:hover{
                    cursor: default;
                }
            }
    
        }

        .hero__icon{
            position: absolute;
            margin-top: 60vh; //remember its not relative to .hero container but the entire page viewport
            .dropdown-icon{
                @include h.navigateIcon;
            }
        }

    

}

@media screen and (max-width: 1512px){

    .hero{
        
        .hero__desc{
            
            //needs to have same rooting style before media query
            h1{
                font-size: 3rem;
                letter-spacing: 0.8rem;
            }

            h3{
                font-size: 1.5rem;
            }
        }
    }

        .story{
            box-sizing: content-box;

            .story__carousel{
                background: red;
                //make x overflow scroll
                overflow: hidden;
                width: 70%;

                .story__cards{
                    margin: 0.5em 1em;
                    width: 14rem;
                    height: 25rem;

                    img{
                        
                    }

                    .story__title{
                    }

                }
            }
        }



}

@media screen and (max-width: 1200px){

    .hero{
        
        .hero__desc{
            
            //needs to have same rooting style before media query
            h1{
                font-size: 3rem;
                letter-spacing: 0.8rem;
            }

            h3{
                font-size: 1.5rem;
            }
        }
    }

        .story{
            box-sizing: content-box;

            .story__carousel{
                width: 70%;
                background: red;
                //make x overflow scroll
                overflow: hidden;

                .story__cards{
                    margin: 0.5em 1em;
                    height: 25em;
                    width: 40%;

                    img{
                        
                    }

                    .story__title{
                    }

                }
            }
        }



}