@use 'helpers' as h;



.footer{
    background: #242424;
    font-weight: 200;
    color: white;
    @include h.flexbox(column, center, center);
    
    .footer__main{
        @include h.flexbox(row, space-around, flex-start);
        width: 70%;
        padding: 4em 0em 2em 6em;
        // padding: 4em 1em 1em 1em;

    .footer__desc{
        
        @include h.flexbox(column, center, flex-start);
        width: 25%;

        .footer__logo{
            @include h.logo;
            margin: 0;
            font-weight: 300;

            .joystick{
                margin: 0em 0em 4em 3.3em;
            }
        }


        .group-icons{
            @include h.flexbox(row, space-between, center);
            width: 50%;

            .icon__social{
                font-size: 2rem;
            }
        }

    }

    .footer__inquiries{
        @include h.flexbox(row, center, flex-start);
        width: 40%;

        .group-items{
            @include h.flexbox(column, center, flex-start);
            width: 30%;

            .items{
                @include h.flexbox(column, space-around, flex-start);
                font-weight: 200;
                color: rgb(190, 189, 189);

                a{
                    margin: 0.4em 0em;
                }
            }

        }
    }

        .footer__news{
            width: 25%;

            p{
                width: 70%;
            }

            #email{
                color: white;
            }
        }
    
    }

    #copyright{
        @include h.flexbox(row, center, center);
        
    }

}
