@use 'helpers' as h;


.gamestech{

    background: #202023;
    width: 100%;
    @include h.flexbox(column, flex-start, center);
    color: white;

    .button-group{
        @include h.flexbox(row, center, center);
        background: #0e0e10;
        overflow: auto;
        border-radius: 10rem;
        margin-top: 4em; 

        button{
            background: #20202380;
            padding: 1em 2em;   
            color: #fff;
            font-size: 1rem;

            &:hover{
                background: #000;
                cursor: pointer;
            }
        }
    }

    .article-group{

        @include h.flexbox(column, space-around, center);
        font-weight: normal;
        width: 100%;
        // background: rgba(126, 125, 125, 0.739);

        .article-border{
            border-bottom: 1px solid rgb(145, 144, 144);
        }

        .article{
            width: 70%;
            @include h.flexbox(row, flex-start, center);
            padding: 1.3em 0em;
            // border-bottom: 2px solid #fff;

                .article-container{
                    @include h.flexbox(row, flex-start, center);

                    img{
                        border-radius: 6px;
                        overflow: hidden;   
                        margin: 2em 3em;
                        object-fit: cover;
                        box-shadow: rgba(61, 61, 61, 0.35) 0px 5px 15px;
                        
                        &:hover{
                            transform: scale(1.1);
                            transition: all .2s ease-in-out;
                        }
                    }
        
                    .article__info{
        
                        @include h.flexbox(column, center, flex-start); 
                        width: 60%;
                        height: 14rem;
        
                        .article__title{
                            font-weight: bold;
                            font-size: 1.3rem;

                            &:hover{
                                text-decoration: underline;
                            }
                        }
                        
                        .article__desc{
                            font-weight: normal;
                            font-size: 1.1rem;
                        }
                
                        .article__source{
                        }


                    }

                }



        } //.article 
        
      

    } //.article-group


}