@use 'helpers' as h;


.gamestech{

    color: white;
    background: black;
    width: 100%;
    @include h.flexbox(column, flex-start, center);

    .button-group{
        @include h.flexbox(row, center, center);
        border: #3a963d;
        overflow: hidden;
        border-radius: 10px;
        margin: 3em;

        button{
            border: 1px solid black;
            background: #4CAF50;
            padding: 1em 2em;   
            color: white;
            font-size: 1rem;

            &:hover{
                background: #04AA6D;
                cursor: pointer;
            }
        }
    }

    .article-group{

        @include h.flexbox(column, space-around, center);
        font-weight: normal;
        width: 100%;
        background: rgba(126, 125, 125, 0.739);

        .article-border{
            border-bottom: 2px solid #fff;
        }

        .article{
            width: 70%;
            @include h.flexbox(row, center, center);
            padding: 1.3em 0em;
            // border-bottom: 2px solid #fff;

                .article-container{
                    @include h.flexbox(row, center, center);

                    img{
                        border-radius: 10px;
                        overflow: hidden;   
                        margin: 3em;
                        object-fit: cover;
                        
                        &:hover{
                            transform: scale(1.15);
                            transition: all .3s ease-in-out;
                        }
                    }
        
                    .article__info{
        
                        @include h.flexbox(column, center, flex-start); 
                        width: 60%;
                        height: 14rem;
        
                        .article__title{
                            font-weight: bold;
                            font-size: 1.3rem;

                            &:hover{
                                text-decoration: underline;
                            }
                        }
                        
                        .article__desc{
                            
                        }
                
                        .article__source{
                
                        }


                    }

                }



        } //.article 
        
      

    } //.article-group


}