@use 'helpers' as h;

.hero{

    height: 100vh;
    width: 100vw;
    //direction, x, y
    @include h.flexbox(column, space-around, center);
    padding-top: 3em;

    video{
        object-fit: cover;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        top: 0;
        
    }

    .hero__desc{
        color: #fff;
        @include h.flexbox(column, space-around, center);
        padding-top: 2em;

        h1{
            font-size: 5.2rem;
            text-transform: uppercase;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: normal;
            letter-spacing: 1rem;
            text-align: center;

            &:hover{
                cursor: default;
            }
        }

        h3{
            font-size: 2rem;
            font-weight: 200;

            &:hover{
                cursor: default;
            }
        }

    }

    .dropdown-icon{
        @include h.navigateIcon;
        margin-bottom: 5em;
    }
}

.video{

    width: 100vw;
    height: 100vh;
    @include h.flexbox(column, space-around, center);
    background: linear-gradient(90deg, rgb(19, 7, 23) 0%, rgb(0, 0, 0) 100%);

    .video__carousel{
        width: 100%;
        height: 80%;
        
        .video__item{
            margin-top: 5em;
            width: 50rem;
            height: 80%;
            border: 1px solid #000;
            border-radius: 8px;
            user-select: none;
        }
        
    }

    .dropdown-icon{
        @include h.navigateIcon; 
        // background: #505050bb;
        // color: #404040;

        &:hover{
            // background: #505050;
            // color: #000;
        }
    }
}

.story{
    
    // @extend .hero;
    width: 100vw;
    height: 100vh;
    @include h.flexbox(column, space-between, center);
    background: #f6f6f6;

    h1{
        color: #000;
        font-weight: bold;
        font-size: 3rem;
        padding-top: 6rem;

        &:hover{
            cursor: default;
        }
    }

    .story__carousel{
        @include h.flexbox(row, space-around, center);  
        width: 60%;

            .story__cards{
                background: #f6f6f6;
                width: 16%;
                height: 35rem;

                @include h.flexbox(column, center, flex-start);
                border-radius: 10px;
                overflow: hidden;
                box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
                -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
                filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));

                &:hover{
                    transform: scale(1.15);
                    transition: all .3s ease-in-out;
                }
                      
                img{
                    object-fit: cover;
                }

                .story__title{
                    @include h.flexbox(row, center, center);
                    color: #000;
                    padding: 0.5em 0.8em;
                    font-size: 1.2rem;
                }
            }

    }

    //swiper
    .story-swiper{
        width: 70%;
        padding: 2em;
        margin-bottom: 4em;

        .story-swiper__cards{
            background: #f6f6f6;
            border-radius: 10px;
            overflow: hidden;
            width: 80%;
            box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
            -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
            filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
            @include h.flexbox(column, center, center);

            img{
                object-fit: cover;
            }

            &:hover{
                transform: scale(1.15);
                transition: all .3s ease-in-out;
            }

            .story-swiper__title{
                color: #000;
                padding: 0.5em;
                font-size: 1rem;
            }
        }
    }


    .dropdown-icon{
        @include h.navigateIcon; 
        background: #505050bb;
        color: #404040;

        &:hover{
            background: #505050;
            color: #000;
        }
    }


}

@media screen and (max-width: 1512px){

    .hero{
        
        .hero__desc{
            
            //needs to have same rooting style before media query
            h1{
                font-size: 3rem;
                letter-spacing: 0.8rem;
            }

            h3{
                font-size: 1.5rem;
            }
        }
    }

        .story{
            box-sizing: content-box;

            .story__carousel{
                background: red;
                //make x overflow scroll
                overflow: hidden;
                width: 70%;

                .story__cards{
                    margin: 0.5em 1em;
                    width: 14rem;
                    height: 25rem;

                    img{
                        
                    }

                    .story__title{
                    }

                }
            }
        }



}

@media screen and (max-width: 1200px){

    .hero{
        
        .hero__desc{
            
            //needs to have same rooting style before media query
            h1{
                font-size: 3rem;
                letter-spacing: 0.8rem;
            }

            h3{
                font-size: 1.5rem;
            }
        }
    }

        .story{
            box-sizing: content-box;

            .story__carousel{
                width: 70%;
                background: red;
                //make x overflow scroll
                overflow: hidden;

                .story__cards{
                    margin: 0.5em 1em;
                    height: 25em;
                    width: 40%;

                    img{
                        
                    }

                    .story__title{
                    }

                }
            }
        }



}