//you can list color as variables here and use them through the doc --primary, secondary, accent, etc
$text-primary: #fff;
$text-secondary: rgb(51, 51, 51);
$bg-dominant: #000;
$bg-complementary: #fff;
$bg-accent: #8378CC;